.loader-inner {
    animation: rotation 1s linear infinite;
}

.loader-standalone:before , .loader-standalone:after{
    content: '';
    inset: 0;
    box-shadow: 0 0 10px 2px #404345 inset;
}
.loader-standalone:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
