.circle {
    position: relative;

    overflow: hidden;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;

    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}
.wave {
    @apply bg-red-500;
    position: absolute;
    top: 110%;
    left: -50%;
    height: 200%;
    width: 200%;
    border-radius: 38%;

    transform: rotate(360deg);
    transition: all 1s ease;
    animation: wave 30s linear infinite;
}

.wave-up {
    top: 0%;
}
