.ProseMirror > * + * {
    margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 1rem;
}

.ProseMirror ol {
    list-style: decimal;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
    line-height: 1.1;
}

.ProseMirror h1 {
    font-size: 36px;
}

.ProseMirror h2 {
    font-size: 32px;
}

.ProseMirror h3 {
    font-size: 28px;
}

.ProseMirror h4 {
    font-size: 24px;
}

.ProseMirror h5 {
    font-size: 20px;
}

.ProseMirror h6 {
    font-size: 16px;
}

.ProseMirror code {
    @apply bg-white;
    @apply text-neutral-950;
}

.ProseMirror pre {
    @apply bg-white;
    @apply text-neutral-950;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.ProseMirror pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid white;
}

.ProseMirror hr {
    border: none;
    border-top: 2px solid white;
    margin: 2rem 0;
}
